@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url(/assets/css/root.css);
/* ----------------nav-bar---------------- */
.hero-sec-head {
  color: #ac1f25;
  cursor: pointer;
}
.hero-sec-heading {
  color: #000000;
}
.hero-sec-text {
  color: #000000;
  opacity: 60%;
}
.hero-button-1 {
  border: 1px solid var(--red, #ac1f25);
  border-radius: 4px;
  padding: 13px 14px;
  color: var(--red, #ac1f25);
  transition: all 300ms linear;
}
.hero-button-1:hover {
  background-color: #ac1f25;
  color: white;
  transform: scale(1.1);
}
.hero-button-2 {
  background: var(--red, #ac1f25);
  color: white;
  padding: 13px 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms linear;
}
.hero-button-2:hover {
  background-color: #ac1f25;
  color: white;
  transform: scale(1.1);
}
.nav-number {
  color: white;
  margin-left: 10px;
}
.font-Sarabun {
  font-family: "Sarabun", sans-serif !important;
}
/* -------------------------------hero- section----------------------- */
.bg-image {
  background-image: url(/assets/image/webp/hero-section-bg-img.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.pin-button {
  color: white;
  border: 1px solid var(--red, #ac1f25);
  width: 241px;
  height: 45px;
  padding: 12px 14px;
  border-radius: 4px;
  opacity: 0px;
  cursor: pointer;
  background-color: #282025;
  transition: all 300ms linear;
}
.pin-button:hover {
  background-color: #847778;
  transform: scale(1.1);
  border: none;
}
.sec-heading {
  color: white;
}
.hero-sec-para {
  color: white;
  max-width: 611px;
}
.hero-sec-button {
  width: 356px;
  height: 73px;
  padding: 14px 19px;
  border-radius: 4px;
  opacity: 0px;
  background: var(--red, #ac1f25);
  color: white;
  border: none;
  transition: all 300ms linear;
}
.hero-sec-button:hover {
  background-color: red;
  color: white;
  transform: scale(1.1);
}
.section-para {
  max-width: 572px;
  color: white;
}
.nav-lines {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
.nav-bar {
  height: 80px;
}
.under-line {
  width: 196px;
  height: 4px;
  background: #fefefe;
}
.box {
  width: 170px;
  height: 66px;
  padding: 13px 16px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.box-shadow {
  width: 1140px;
  height: 217px;
  background: #ffffff;
  border-radius: 10px;
}
.shadow-image {
  padding-left: 101px;
  padding-top: 35px;
}
.max-width-250{
  max-width: 250px;
}
.box-text {
  padding-left: 80px;
  color: #000000;
}
/* ------------------------------------media-quary--------------------------- */
@media (max-width: 992px) {
  .mobile-view {
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    flex-direction: column;
    transition: all 300ms linear;
    background-color: white;
    z-index: 2;
  }
}
